body{
    background-color: beige;
}

.coming-soon-regular {
  font-family: "Coming Soon", cursive;
  font-weight: 400;
  font-style: normal;
}



.boton{
    background-color: red;
    color: white;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;
    border: none;
}

.boton2{
    color: red;
    padding-bottom: 5px;
    text-decoration: underline;
    border: none;
    background-color: white;
}

.boton3{
    color: black;
    padding-bottom: 5px;
    text-decoration: underline;
    border: none;
    background-color: white;
}
.rojo{
    color: red;
}

#menu a{
    color: grey;
}

footer{
    background-color: black;
    color: white;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.icono{
    font-size: 40px;
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 100px;
}



section{
    margin-top: 30px;
}

.fondogris{
    background-color: lightgray;
}

.gris{
    color: gray;
}

footer i{
    font-size: 30px;
}

.padding{
    padding-top: 50px;
    padding-bottom: 50px;
}

.margen-contacto{
    margin-left: 40px;
}

.grande{
    font-size: 30px;
}